.container{
display:flex;
justify-content:center;
align-items:center;
height:80vh;
}

.pago-card{
width:420px;
padding:30px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
background:white;
text-align:center;
}

.titulo{
font-weight:bold;
margin-bottom:15px;
color:#2c3e50;
}

.icono{
font-size:45px;
margin-bottom:20px;
}

.form-group{
text-align:left;
margin-bottom:20px;
}

label{
font-weight:600;
}

input{
border-radius:6px;
}

.btn-pagar{
width:100%;
font-size:16px;
font-weight:600;
}

.estado{
margin-top:15px;
padding:10px;
background:#e8f5e9;
border-radius:6px;
font-weight:bold;
color:#2e7d32;
}