.container{
max-width:1000px;
margin:auto;
}

h3{
font-weight:bold;
}

.card{
border-radius:10px;
}

table{
font-size:15px;
}

th{
text-align:center;
}

td{
vertical-align:middle;
}

button{
font-size:14px;
}