.card{
border-radius:15px;
}

.card-header{
font-size:20px;
font-weight:bold;
}

input{
border-radius:8px;
}

button{
border-radius:8px;
font-weight:bold;
}

button:hover{
transform:scale(1.05);
transition:0.2s;
}