<div class="container mt-5">

<div class="card shadow p-4">

<h3>Crear Reserva</h3>

<div class="row">

<div class="col-md-6">

<label>Seleccionar Vuelo</label>

<select class="form-control"
[(ngModel)]="reserva.vuelo.idVuelo">

<option [ngValue]="null">Seleccione vuelo</option>

<option *ngFor="let v of vuelos"
[value]="v.idVuelo">

{{v.aeropuertoOrigen.nombre}} →
{{v.aeropuertoDestino.nombre}}
- {{v.fechaSalida}}

</option>

</select>

</div>


<div class="col-md-6">

<label>Seleccionar Pasajero</label>

<select class="form-control"
[(ngModel)]="reserva.pasajero.idPasajero">

<option [ngValue]="null">Seleccione pasajero</option>

<option *ngFor="let p of pasajeros"
[value]="p.idPasajero">

{{p.nombres}} {{p.apellidos}} - DNI: {{p.dni}}

</option>

</select>

</div>

</div>

<button
class="btn btn-primary mt-4 w-100"
(click)="guardar()">

Crear Reserva

</button>

<div *ngIf="codigo" class="alert alert-success mt-3">

Código Reserva: <strong>{{codigo}}</strong><br>
Estado: <strong>{{estado}}</strong>

</div>

</div>

</div>